/**
 * Lato
 */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Light') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-LightItalic') format('truetype');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Italic') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Bold') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-BoldItalic') format('truetype');
	font-style: italic;
	font-weight: 700;
}