<div class="slider">

	<div class="slide">
		<div class="img-wrap">
			<img src="img/people/face-1.png" alt="">
		</div>
		<h3 class="text-white font-weight-light font-italic">I couldnt possibly use my own eyes to look at the stars, thansk Starnught App...</h3>
	</div>

	<div class="slide">
		<div class="img-wrap">
			<img src="img/people/face-1.png" alt="">
		</div>
		<h3 class="text-white font-weight-light font-italic">I couldnt possibly use my own eyes to look at the stars, thansk Starnught App...</h3>
	</div>

	<div class="slide">
		<div class="img-wrap">
			<img src="img/people/face-1.png" alt="">
		</div>
		<h3 class="text-white font-weight-light font-italic">I couldnt possibly use my own eyes to look at the stars, thansk Starnught App...</h3>
	</div>
</div>

<div class="slider-dots"></div>