<footer>
	<div class="container">
		<div class="row main">
			<div class="col-lg-5 text-white">
				<p>Nam mi enim, auctor non ultricies a, fringilla eu risus. Praesent vitae lorem et elit tincidunt accumsan suscipit eu libero. Maecenas diam est, venenatis vitae dui in, vestibulum mollis arcu. Donec eu nibh tincidunt, dapibus sem eu, aliquam dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum consectetur commodo eros, vitae laoreet lectus aliq</p>
			</div>
			<div class="col-lg-2 text-white">
				<p>aliquam dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum consectetur commodo eros, vitae laoreet lectus aliq</p>
			</div>
			<div class="offset-lg-3 col-lg-2 text-white">
				<ul class="nav d-block">
					<li class="nav-item"><a href="" class="nav-link text-white">List one</a></li>
					<li class="nav-item"><a href="" class="nav-link text-white">Page two</a></li>
					<li class="nav-item"><a href="" class="nav-link text-white">Design</a></li>
					<li class="nav-item"><a href="" class="nav-link text-white">Work</a></li>
					<li class="nav-item"><a href="" class="nav-link text-white">Contact Me</a></li>
				</ul>
			</div>
		</div>
		<!-- /.row -->

		<div class="designer-logo text-center">
			<img src="img/designer-logo.png" alt="designer-logo">
		</div>
		<!-- /.text-center -->

		<div class="design-text text-center text-white text-uppercase">
			Design by www.blazrobar.com
		</div>
		<!-- /.text-center -->
	</div>
</footer>