<header class="position-relative">
		<video class="hero-video" autoplay muted loop>
			<source src="hero-video.mp4" type="video/mp4">
		</video>

    <div class="container">
    	<div class="row hero-title">
	    	<div class="col-lg-7 col-md-10 col-12 mx-auto">
	    		<h1 class="text-center text-white font-weight-light">Starnight App</h1>
	    		<p class="hero-text text-center font-italic font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
	    	</div>
	    </div>

<!-- 	    <div class="row">
	    	<div class="col-md-2 mx-auto text-center">
	    		<button class="play outline-none btn p-0 text-center">
	    			<img src="img/play.png" alt="">
	    		</button>
	    	</div>
	    </div> -->
		
			<div class="row">
				<div class="mx-auto text-center">
					<button class="btn btn-info">Get started</button>
				</div>
			</div>
    </div>
</header>